<!DOCTYPE html>
<html>
<div class="blockSlider">
    <div class="fullArea">
        <div class="imagesArea">
            <img class="pic-slider" src="../../Static/JPEG/london.jpg" alt="" />
            <img class="pic-slider" src="../../Static/JPEG/ny.jpg" alt="" />
            <img class="pic-slider" src="../../Static/JPEG/spb.jpg" alt="" />
        </div>
        <div class="dotArea">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div class="navButtonArea">
            <button class="navButton" id="navButtonLeft">PREV</button>
            <button class="navButton" id="navButtonRight">NEXT</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="../Static/JS/slider.js"></script>
</html>